<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_VANITY_DOMAIN</key>
	<string>invob2b77tf2sotojkun-donato.us.wristband.dev</string>
	<key>CLIENT_ID</key>
	<string>vbbdjfmq6beq5ngdx3wwpf53qa</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mobiledemoapp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
