<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_NAME</key>
	<string>iosdemoapp</string>
	<key>APPLICATION_VANITY_DOMAIN</key>
	<string>iosdemoapp-donato.us.wristband.dev</string>
	<key>CLIENT_ID</key>
	<string>mlnp6h6nwrdd3ptqfvsi6pbieu</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iosdemoapp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
